* {
    font-family: Roboto;
}

.exemplo {
    background-color: black;
    width: 200px;
    height: 200px;
    border: 30px solid;
   }

#exemplo-1 {
    border-image-source: url(exemplo02.jpg);
}

#exemplo-2 {
    border-image-source: linear-gradient(green, lightgreen);
}