* {
    font-family: Roboto;
}

.exemplo {
    background-color: black;
    width: 200px;
    height: 200px;
    border: 30px solid;
    margin: 200px auto;
   }

#exemplo-1 {
    border-image-source: url(exemplo02.jpg);
    border-image-repeat: round;
    border-image-slice: 169;
    border-image-outset: 4;
}

#exemplo-2 {
    border-image-source: linear-gradient(green, rgb(196, 199, 11));
    border-image-slice: 10;
    border-image-outset: 4;
}