div{
    margin-bottom: 20px;
}

.exemplo {
    width: 300px;
    height: 300px;
    border: 15px dashed palegreen;
    color: white;
    padding: 30px;
    font-size: 40px;
    font-weight: 900;
    background-size: contain;
    background-color: orange;
    background-image: url(exemplo02.jpg);
    background-blend-mode: hard-light ; /*https://developer.mozilla.org/en-US/docs/Web/CSS/background-blend-mode */
}