body {
    background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
div {
    margin-bottom: 30px;
}

.exemplo {
    width: 150px;
    height: 150px;
    border: 15px dashed red;
    color: white;
    padding: 30px;
    font-size: 40px;
    font-weight: 900;
    background-color: aqua;

    background: linear-gradient(315deg, transparent 75%, #d45d55 0)-10px 0,
    linear-gradient(45deg, transparent 75%, #d45d55 0)-10px 0,
    linear-gradient(135deg, #a7332b 50%, transparent 0) 0 0,
    linear-gradient(45deg, #6a201b 50%, #561a16 0) 0 0 #561a16;
    background-size: 20px 20px;
}

#padding-box {
    background-clip: padding-box;
}

#border-box {
    background-clip: border-box;
}

#content-box {
    background-clip: content-box;
}

#text {
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}